

<section class="segment">
    <div class="container-fluid">
        <div class="row segment1">
            <div class="col">
                <h2>Our Segments</h2>
                <img src="http://rajtenthouse.in/images/decor-line.png" alt="image">
            </div>
        </div>
        <div class="row segment2">
            <div class="col">
                <div class="container">
                    <div class="row">
                        @for (segment of segments; track $index) {
                            <div class="col-md-4 col-12">
                                <div class="boxes">
                                    <h3>{{segment.title}}</h3>
                                    <p>{{segment.description}}</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
